body {
  margin: 10px;
  background: #f3f3f3;
  font-family: Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spaceCowboy {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: Courier, monospace;
  font-size: 8vh;
  color: red;
}

.horizontal {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.vertical {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.overlay {
  width: calc(100% - 30px);
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.content {
  width: calc(100% - 30px);
  max-width: 800px;
  margin: auto;
}

.btn {
  display: block;
  transform: none;
  box-sizing: border-box;
  border: 2px solid;
  outline: none;
  padding: .5em 1em;
  border-radius: 0;
  text-decoration: none;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

@keyframes aurora {
    0%   { transform: translateX(-20vw) }
    50%  { transform: translateX(30vw) }
    100% { transform: translateX(-20vw) }
}

.btn-special {
  background-image:linear-gradient(271deg, #ffc1e6, #add0ff, #91f5ff, #fffedb);
  transition: transform 0.2s;
}

.btn-special:hover {
  animation:slidebg 5s linear infinite;
}

.slant {
  transform: skewY(-.3deg);
}

hr {
  overflow: visible;
}

input {
  text-indent: .5em;
  transform: none;
  box-sizing: border-box;
  border: 2px solid;
  outline: none;
  margin-right: .5em;
  border-radius: 0;
}

#nav {
  margin: 20px;
}

h1 {
  font-size: xx-large;
}
