body {
  margin: 10px;
  background: #f3f3f3;
  font-family: "Source Serif Pro", serif;
  font-size: larger;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,600&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeImg {
  display: none;
}

.emailTag {
  display: none;
  text-align: center;
}

.spaceCowboy {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: Courier, monospace;
  font-size: 8vh;
  color: red;
}

.homeLink {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.homeLink::after {
  background: none;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .07em;
  height: .1em;
  width: 100%;
  background:rgb(0,0,0);
  z-index: -1;
}

.pageLink:hover {
  background-image:linear-gradient(271deg, #1b7dff, #ff2caa, #38edff, #1b7dff);
  color: transparent;
  -webkit-background-clip: text;
  animation: slidebg 2.5s linear infinite;
}

.pageLink:after {
  height: 0;
  bottom: 0;
}

.horizontal {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.vertical {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.overlay {
  width: calc(100% - 30px);
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.homeHeader {
  width: calc(100% - 30px);
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.content {
  width: calc(100% - 30px);
  max-width: 800px;
  margin: auto;
}

.btn {
  display: block;
  transform: none;
  box-sizing: border-box;
  border: 2px solid;
  outline: none;
  padding: .5em 1em;
  border-radius: 0;
  text-decoration: none;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

@keyframes aurora {
    0%   { transform: translateX(-20vw) }
    50%  { transform: translateX(30vw) }
    100% { transform: translateX(-20vw) }
}

.specialBtn {
  background-image: linear-gradient(271deg, #ffc1e6, #add0ff, #91f5ff, #fffedb);
  transition: transform 0.2s;
}

.specialBtn:hover {
  animation:slidebg 5s linear infinite;
}

.slant {
  transform: skewY(.5deg);
  max-width: 900px;
}

hr {
  overflow: visible;
}

input {
  text-indent: .5em;
  transform: none;
  box-sizing: border-box;
  border: 2px solid;
  outline: none;
  margin-right: .5em;
  border-radius: 0;
}

#nav {
  margin: 20px;
}

h1 {
  font-size: xx-large;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  [class*="homeImg"] {
    display: block;
    max-height: 600px;
    min-width: 100px;
  }

  [class="homeHeader"] {
    flex-direction: row;
  }

  [class="homeLink"] {
    margin-right: 5ex;
  }

  [class="emailTag"] {
    display: block;
  }
}
