body {
  margin: 10px;
  background: #f3f3f3;
  font-family: Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spaceCowboy {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: Courier, monospace;
  font-size: 8vh;
  color: red;
}

.horizontal {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.vertical {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.content {
  width: calc(100% - 30px);
  max-width: 970px;
  margin: auto;
}

h1 {
  font-size: xx-large;
}
